# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*




 const getNowshowingdata = async () => {
        const data = await fetch("https://api.themoviedb.org/3/movie/now_playing?language=en-US&page=1", API_OPTIONS)
        const json = await data.json();
        const d = json.results
        console.log(d);



        useEffect(() => {
        getNowshowingdata();
    }, [])

    }


    d.map((item, index) => {
            let imageUrl = `https://image.tmdb.org/t/p/original/${item.backdrop_path}`;
            return <img key={index} src={imageUrl} alt="no image " />;
        })



        const root = ReactDOM.createRoot(document.getElementById('root'));
root.render(
    <App />
  
)



import { getAuth} from "firebase/auth";

// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyBBo1RFhloi4V0CZNfAL7cLVvnm-BrEAhM",
  authDomain: "netflix-react-86e2d.firebaseapp.com",
  projectId: "netflix-react-86e2d",
  storageBucket: "netflix-react-86e2d.appspot.com",
  messagingSenderId: "399801070362",
  appId: "1:399801070362:web:3cb6de195331fc4b56b2a3",
  measurementId: "G-DHZKT7QWSY"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);


export const auth = getAuth();



https://www.imdb.com/title/tt13304410/?ref_=hm_fanfav_tt_i_1_pd_fp1_r


https://www.imdb.com/title/tt26591995/?ref_=hm_fanfav_tt_i_1_pd_fp1_r   
