@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(255, 255, 255, 0.2);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
}

.glow {
  outline: 1px solid #f1b503;
  outline-offset: 1px;
  box-shadow: 0 0 1px #ffc107, 0 0 20px #ffc107;
}
.glow2 {
  outline: 1px solid #d909ec;
  outline-offset: 1px;
  box-shadow: 0 0 1px #d909ec, 0 0 20px #d909ec;
}

.glow3 {
  outline: 1px solid #09afec;
  outline-offset: 1px;
  box-shadow: 0 0 1px #09afec, 0 0 20px #09afec;
}

.glow4 {
  outline: 1px solid rgb(5, 120, 243);
  box-shadow: 2px 2px 5px rgb(4, 190, 246), 2px 2px 15px rgb(5, 250, 250);
}

.glow5 {
  outline: 1px solid black;
  outline-offset: 1px;
  box-shadow: 0 0 1px black, 0 0 20px black;
}

.glow6 {
  outline: 1px solid #bef264;
  outline-offset: 1px;
  box-shadow: 0 0 1px #bef264, 0 0 15px #bef264;
}

.Cursor {
  cursor: url("https://cdn.custom-cursor.com/db/cursor/pointer_2042.png"), auto;
}

.underline-black span {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.3em;
}

/* Comingsooninside.css */
.custom-scroll::-webkit-scrollbar {
  display: none;
}

.video-player {
  transition: transform 0.5s;
}

.video-player:hover {
  transform: scale(1.1);
}

body {
  overflow-x: hidden; /* Prevents horizontal scrolling */
  overflow: hidden;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* This will apply to all scrollbars on the page */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ::-webkit-scrollbar {
  background: rgb(167, 204, 92);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7264cc;
  border-radius: 10px;
} */

/* select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #454545;
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #27272a;
  overflow: hidden;
  border-radius: 0.25em;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #27272a;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}

.select:hover::after {
  color: #6556cd;
} */

/* CSS for menu icon */

.menu {
  display: "relative";
  top: 9px;
  --s: 9vw; /* control the size */
  --c: rgb(239, 239, 6); /* the color */
  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s) / 2) solid #0000;
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%, #ef070700 0 80%, var(--c) 0) no-repeat
    content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%, var(--c) 95%, #0000)
    repeat-y content-box border-box;
  background: var(--_g2) left var(--_p, 0px) top,
    var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
    var(--_g2) right var(--_p, 0px) top,
    var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
  background-size: 20% 80%, 40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg, #0000, #000 25% 75%, #0000);
  cursor: pointer;
  transition: background-position 0.3s var(--_s, 0.3s),
    clip-path 0s var(--_s, 0.6s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media (min-width: 480px) {
  .menu {
    --s: 6vw; /* new size for xsmall breakpoint and above */
    top: 10px;
  }
}

@media (min-width: 640px) {
  .menu {
    --s: 5vw;
  }
}
@media (min-width: 768px) {
  .menu {
    --s: 4vw;
    top: 10px;
    left: 10px;
  }
}

@media (min-width: 1024px) {
  .menu {
    --s: 3.5vw;
    top: 12px;
  }
}

@media (min-width: 1280px) {
  .menu {
    --s: 3vw;
    top: 13px;
  }
}

@media (min-width: 1536px) {
  .menu {
    --s: 2.2vw;
    top: 11px;
  }
}

.menu:before,
.menu:after {
  content: "";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
}

.menu:checked {
  clip-path: inset(1);
  --_p: calc(-1 * var(--s));
  --_s: 0s;
  background-color: black;
}
.menu:checked:before {
  transform: rotate(45deg);
}
.menu:checked:after {
  transform: rotate(-45deg);
}
.menu:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}

body {
  margin: 0;
  place-content: center;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
    border-radius: 5%;
    height: 1vw;
  }
  100% {
    transform: scale(1);
    opacity: 0;
    border-radius: 10%;
  }
}

.ripple {
  animation: ripple 0.4s ease-out;
  background: rgba(31, 31, 31, 1); /* Change this to the color of your ripple */
}

@keyframes ripple-reverse {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}

.ripple-reverse {
  animation: ripple-reverse 0.5s ease-out;
  background: rgba(
    15,
    12,
    12,
    0.5
  ); /* Change this to the color of your ripple */
}

.neuro {
  border-radius: 16px;
  background: slategray;
  box-shadow: -9px -9px 18px #494746, 9px 9px 18px #563b90;
}

/* logo code */

.container {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.pane {
  outline: 2px solid #00ff6a;
  box-shadow: 0 0 10px #00ff6a77, inset 0 0 10px #00ff6a77;
  height: 1cm;
  width: 4.5cm;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: 0.7s ease;
}

.input {
  display: none;
}

.label {
  height: 1cm;
  width: 1.5cm;
  float: left;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 14px;
  padding: 0px;
  position: relative;
  z-index: 1;
  color: #00ff6a;
  text-align: center;
  padding-top: 10px;
}

.selection {
  display: none;
  position: absolute;
  height: 1cm;
  width: calc(4.5cm / 3);
  z-index: 0;
  left: 0;
  top: 0;
  box-shadow: 0 0 10px #00ff6a77;
  transition: 0.15s ease;
}

.label:has(input:checked) {
  color: #212121;
}

.pane:has(.label:nth-child(1):hover) {
  transform: rotateY(-30deg);
}

.pane:has(.label:nth-child(3):hover) {
  transform: rotateY(35deg);
}

.label:has(input:checked) ~ .selection {
  background-color: #00ff6a;
  display: inline-block;
}

.label:nth-child(1):has(input:checked) ~ .selection {
  transform: translateX(calc(4.5cm * 0 / 3));
}

.label:nth-child(2):has(input:checked) ~ .selection {
  transform: translateX(calc(4.5cm * 1 / 3));
}

.label:nth-child(3):has(input:checked) ~ .selection {
  transform: translateX(calc(4.5cm * 2 / 3));
}

/* loader code */

.loading-bar {
  position: relative;
  width: 110px;
  height: 110px;
  background: transparent;
  border: px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 111px;
  font-family: sans-serif;
  font-size: 15px;
  color: #fff000;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-shadow: 0 0 20px #fff000;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.loading-bar:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 5px solid #fff000;
  border-right: 5px solid #fff000;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

/* second time logo code */

.loader {
  font-size: 2em;
  font-weight: 900;
}
.loader > * {
  color: white;
}
.loader span {
  display: inline-flex;
}
.loader span:nth-child(2) {
  letter-spacing: -1em;
  overflow: hidden;
  animation: reveal 1500ms cubic-bezier(0.645, 0.045, 0.355, 1) infinite
    alternate;
}
@keyframes reveal {
  0%,
  100% {
    opacity: 0.5;
    letter-spacing: -1em;
  }
  50% {
    opacity: 1;
    letter-spacing: 0em;
  }
}

/* third time logo code */

.pl {
  width: 6em;
  height: 6em;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #f42f25;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #f49725;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #255ff4;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #f42582;
}

/* Animations */
@keyframes ringA {
  from,
  4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%,
  54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%,
  to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from,
  12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%,
  62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%,
  to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%,
  58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from,
  8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%,
  50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

/* fourth time logo code */

.pl {
  display: block;
  width: 9.375em;
  height: 9.375em;
}

.pl__arrows,
.pl__ring-rotate,
.pl__ring-stroke,
.pl__tick {
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.pl__arrows {
  animation-name: arrows42;
  transform: rotate(45deg);
  transform-origin: 16px 52px;
}

.pl__ring-rotate,
.pl__ring-stroke {
  transform-origin: 80px 80px;
}

.pl__ring-rotate {
  animation-name: ringRotate42;
}

.pl__ring-stroke {
  animation-name: ringStroke42;
  transform: rotate(-45deg);
}

.pl__tick {
  animation-name: tick42;
}

.pl__tick:nth-child(2) {
  animation-delay: -1.75s;
}

.pl__tick:nth-child(3) {
  animation-delay: -1.5s;
}

.pl__tick:nth-child(4) {
  animation-delay: -1.25s;
}

.pl__tick:nth-child(5) {
  animation-delay: -1s;
}

.pl__tick:nth-child(6) {
  animation-delay: -0.75s;
}

.pl__tick:nth-child(7) {
  animation-delay: -0.5s;
}

.pl__tick:nth-child(8) {
  animation-delay: -0.25s;
}

/* Animations */
@keyframes arrows42 {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(405deg);
  }
}

@keyframes ringRotate42 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(720deg);
  }
}

@keyframes ringStroke42 {
  from,
  to {
    stroke-dashoffset: 452;
    transform: rotate(-45deg);
  }

  50% {
    stroke-dashoffset: 169.5;
    transform: rotate(-180deg);
  }
}

@keyframes tick42 {
  from,
  3%,
  47%,
  to {
    stroke-dashoffset: -12;
  }

  14%,
  36% {
    stroke-dashoffset: 0;
  }
}

/* Add to watchlist button code */

.btn-donate {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: hsla(194 100% 69% / 1);
  --btn-bg-2: hsla(217 100% 56% / 1);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.7em 1em;
  width: 160px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-family: "Segoe UI", system-ui, sans-serif;
  font-weight: 500;
  transition: 0.8s;
  background-size: 2850% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5),
    0px 5px 5px -1px rgba(58, 125, 233, 0.25),
    inset 4px 4px 8px rgba(175, 230, 255, 0.5),
    inset -4px -4px 8px rgba(19, 95, 216, 0.35);
}

@media (min-width: 480px) {
  .btn-donate {
    width: 185px;
    min-height: 55px;
  }
}

@media (min-width: 640px) {
  .btn-donate {
    width: 170px;
    min-height: 58px;
  }
}
@media (min-width: 768px) {
  .btn-donate {
    width: 192px;
    min-height: 65px;
  }
}

@media (min-width: 1024px) {
  .btn-donate {
    width: 196px;
    min-height: 65px;
  }
}

@media (min-width: 1280px) {
  .btn-donate {
    width: 238px;
    min-height: 80px;
  }
}
@media (min-width: 1536px) {
  .btn-donate {
    width: 300px;
    min-height: 95px;
  }
}

.btn-donate:hover {
  background-position: right top;
}

.btn-donate:is(:focus, :focus-visible, :active) {
  outline: none;
  box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
  .btn-donate {
    transition: linear;
  }
}

/* Featured Review styling code */

.review {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.review:focus,
.review:hover {
  color: #fff;
}

.review:focus:after,
.review:hover:after {
  width: 100%;
  left: 0%;
}

.review:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: cyan;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/* Photo Gallery Title Code */

.photogallery {
  /* color: red; */
  text-decoration: none;
  /* font-size: 25px; */
  border: none;
  background: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.photogallery::before {
  margin-left: auto;
}

.photogallery::after,
.photogallery::before {
  content: "";
  width: 0%;
  height: 2px;
  background: cyan;
  display: block;
  transition: 0.5s;
}

.photogallery:hover::after,
.photogallery:hover::before {
  width: 100%;
}

/* Related News Text Styling */

.relatednews {
  /* color: red; */
  text-decoration: none;
  /* font-size: 25px; */
  border: none;
  background: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.relatednews::before {
  margin-left: auto;
}

.relatednews::after,
.relatednews::before {
  content: "";
  width: 0%;
  height: 2px;
  background: cyan;
  display: block;
  transition: 0.5s;
}

.relatednews:hover::after,
.relatednews:hover::before {
  width: 100%;
}

/* NowShowing PhotoGallery swiper code */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 1px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  Add this CSS to your stylesheet or component */
.mySwiper .swiper-pagination {
  position: absolute;
  top: 20px;
}

.swiper-button-prev {
  background-color: white;
  border-radius: 10%;
  /* left: auto; Remove the default left position */
  right: 100px; /* Set the desired right position */
}

.swiper-button-next {
  background-color: white; /* Red background color */
  border-radius: 10%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.neuroVideogallery {
  border-radius: 46px;
  background: #e0e0e0;
  box-shadow: inset 9px 9px 16px #b3b3b3, inset -9px -9px 16px #ffffff;
}

/* video gallery title code */

.videogallery {
  color: red;
  text-decoration: none;
  /* font-size: 25px; */
  border: none;
  background: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.videogallery::before {
  margin-left: auto;
}

.videogallery::after,
.videogallery::before {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(250 204 21);
  display: block;
  transition: 0.5s;
}

.videogallery:hover::after,
.videogallery:hover::before {
  width: 100%;
}

/* Modal code */

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  outline: 0;
  backdrop-filter: blur(10px); /* Adjust the blur intensity */
}

.modal {
  z-index: 99;
  overflow-y: hidden;
  width: 45vw;
  height: 40vh;
  background: #212121;
  position: relative;
  top: 20%;
  margin: 1.75rem auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

/* Rate Button Code */

.Rate-button {
  position: relative;
  overflow: hidden;
  width: 10rem;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.Rate-button:hover::before {
  transform: scaleX(1);
}

.Rate-button-content {
  position: relative;
  z-index: 1;
}

.Rate-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

/* RecentlyViewed Delete Button */

.Deletebutton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(28, 157, 204);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.DeletesvgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.DeletesvgIcon path {
  fill: white;
}

.Deletebutton:hover {
  width: 80px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.Deletebutton:hover .DeletesvgIcon {
  width: 50px;
  transition-duration: 0.3s;
  transform: translateY(60%);
}

.Deletebutton::before {
  position: absolute;
  top: -20px;
  content: "Clear all";
  color: white;
  font-weight: 700;
  transition-duration: 0.3s;
  font-size: 2px;
}

.Deletebutton:hover::before {
  font-size: 14px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: 0.3s;
}

/* Footer logo code */

.button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: #212121;
  position: relative;
  z-index: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  overflow: hidden;
}

.button svg {
  color: white;
  width: 30px;
  height: 30px;
  z-index: 2;
  transition: 0.3s;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #212121;
  border-radius: 50%;
  z-index: 1;
  transition: 0.3s;
}

.button:hover::before {
  opacity: 0;
}

/* Instagram */
.button:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    #f09433,
    #e6683c,
    #dc2743,
    #cc2366,
    #bc1888
  );
  border-radius: 50%;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
}

.button:nth-child(1):hover::after {
  opacity: 1;
}

/* WhatsApp */
.button:nth-child(2):hover {
  background: #25d366;
}

/* Twitter */
.button:nth-child(3):hover {
  background: #1da1f2;
}

/* YouTube */
.button:nth-child(4):hover {
  background: #ff0000;
}

/* GitHub */
.button:nth-child(5):hover {
  background: black;
}

.button:active {
  transform: scale(0.85);
}

.social-buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Header Font Styling */

.fonty {
  font-size: 17px;
  background: transparent;
  border: none;
  /* padding: 1em 1.5em; */
  color: #ffedd3;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.fonty::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #ffc506;
  transition: 0.5s ease;
}

.fonty:hover {
  color: #1e1e2b;
  transition-delay: 0.5s;
  padding-left: 5px;
  padding-right: 5px;
}

.fonty:hover::before {
  width: 100%;
}

.fonty::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc506;
  transition: 0.4s ease;
  z-index: -1;
}

.fonty:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}

/* Trailer Button NowShowing */

.comic-button {
  display: none; /* Hide by default */
  padding: 5px 5px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff5252;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.comic-button:hover {
  background-color: black;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

.comic-button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}

@media (min-width: 480px) {
  .comic-button {
    display: inline-block; /* Show when screen width is 480px or less */
  }
}

@media (min-width: 1280px) {
  .comic-button {
    display: inline-block; /* Show when screen width is 480px or less */
    padding: 8px 8px;
    font-size: 18px;
  }
}

/* See What That Excites You */

.glowText {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  animation: blink 6s infinite; /* Reduced from 12s to 6s */
  -webkit-animation: blink 6s infinite; /* Reduced from 12s to 6s */
}

@-webkit-keyframes blink {
  10%,
  12%,
  27% {
    color: #111;
    text-shadow: none;
  }
  0%,
  9%,
  11%,
  13%,
  26%,
  28%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  10%,
  12%,
  27% {
    color: #111;
    text-shadow: none;
  }
  0%,
  9%,
  11%,
  13%,
  26%,
  28%,
  100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

/* ipjsipjopsdjops */

.glowText2 {
  text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff,
    0 0 40px #ffffff, 0 0 60px #ffffff, 0 0 10px #ffffff, 0 0 98px #ffffff;
  color: #ffffff;
  animation: sink 6s infinite;
  -webkit-animation: sink 6s infinite;
}

@-webkit-keyframes sink {
  10%,
  12%,
  27% {
    color: #111;
    text-shadow: none;
  }
  0%,
  9%,
  11%,
  13%,
  26%,
  28%,
  100% {
    text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff,
      0 0 40px #ffffff, 0 0 60px #ffffff, 0 0 10px #ffffff, 0 0 98px #ffffff;
    color: #ffffff;
  }
}

@keyframes sink {
  10%,
  12%,
  27% {
    color: #111;
    text-shadow: none;
  }
  0%,
  9%,
  11%,
  13%,
  26%,
  28%,
  100% {
    text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffffff,
      0 0 40px #ffffff, 0 0 60px #ffffff, 0 0 10px #ffffff, 0 0 98px #ffffff;
    color: #ffffff;
  }
}

/* Upcoming Trailers Glow Text */

.glowText3 {
  text-shadow: 0 0 5px #f6faf6, 0 0 15px #f6faf6, 0 0 20px #f6faf6,
    0 0 40px #f6faf6, 0 0 60px #f6faf6, 0 0 10px #f6faf6, 0 0 98px #f6faf6;
  color: #f6faf6;
  animation: wink 6s infinite;
  -webkit-animation: wink 6s infinite;
}

@-webkit-keyframes wink {
  10%,
  12%,
  27% {
    color: #111;
    text-shadow: none;
  }
  0%,
  9%,
  11%,
  13%,
  26%,
  28%,
  100% {
    text-shadow: 0 0 5px #f6faf6, 0 0 15px #f6faf6, 0 0 20px #f6faf6,
      0 0 40px #f6faf6, 0 0 60px #f6faf6, 0 0 10px #f6faf6, 0 0 98px #f6faf6;
    color: #f6faf6;
  }
}

@keyframes wink {
  10%,
  12%,
  27% {
    color: #111;
    text-shadow: none;
  }
  0%,
  9%,
  11%,
  13%,
  26%,
  28%,
  100% {
    text-shadow: 0 0 5px #f6faf6, 0 0 15px #f6faf6, 0 0 20px #f6faf6,
      0 0 40px #f6faf6, 0 0 60px #f6faf6, 0 0 10px #f6faf6, 0 0 98px #f6faf6;
    color: #f6faf6;
  }
}

/* Born Person */

.glowText4 {
  text-shadow: 0 0 5px #9333ea, 0 0 15px #9333ea, 0 0 20px #9333ea,
    0 0 40px #9333ea, 0 0 60px #9333ea, 0 0 10px #9333ea, 0 0 98px #9333ea;
  color: #9333ea;
  animation: kink 6s infinite;
  -webkit-animation: kink 6s infinite;
}

@-webkit-keyframes kink {
  10%,
  12%,
  27% {
    color: #111;
    text-shadow: none;
  }
  0%,
  9%,
  11%,
  13%,
  26%,
  28%,
  100% {
    text-shadow: 0 0 5px #800080, 0 0 15px #800080, 0 0 20px #800080,
      0 0 40px #800080, 0 0 60px #800080, 0 0 10px #800080, 0 0 98px #800080;
    color: #800080;
  }
}

@keyframes kink {
  10%,
  12%,
  27% {
    color: #111;
    text-shadow: none;
  }
  0%,
  9%,
  11%,
  13%,
  26%,
  28%,
  100% {
    text-shadow: 0 0 5px #9333ea, 0 0 15px #9333ea, 0 0 20px #9333ea,
      0 0 40px #9333ea, 0 0 60px #9333ea, 0 0 10px #9333ea, 0 0 98px #9333ea;
    color: #9333ea;
  }
}

/* Born Today Border glow */

@layer utilities {
  .shadow-glow {
    box-shadow: 0 0 15px 5px rgba(5, 136, 197, 0.7);
  }
}

.responsive-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: auto;
  z-index: 50;
}

.menu-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.menu-section {
  margin-bottom: 2rem;
}

.section-title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #22d3ee; /* cyan-400 */
  margin-bottom: 1rem;
}

.icon {
  color: #facc15; /* yellow-400 */
  margin-right: 0.5rem;
}

.section-items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.menu-link:hover {
  text-decoration: underline;
}

/* Responsive breakpoints */
@media (min-width: 640px) {
  .menu-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .menu-grid {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
  }
}

@media (min-width: 1280px) {
  .menu-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1536px) {
  .menu-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.bgcontainer {
  width: 100%;
  height: 100%;

  background: #000000;
  --gap: 5em;
  --line: 1px;
  --color: rgba(21, 236, 182, 0.24);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
}

.glow-text {
  text-shadow: 0 0 1px #ffff00, 0 0 2px #e7430c, 0 0 2px #ffff00;
}

/* ComingSoon page css */

/* From Uiverse.io by jeremyssocial */
@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 6.2em;
  } /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}

.terminal-loader {
  border: 0.1em solid #333;
  background-color: #1a1a1a;
  color: #0f0;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  padding: 1.5em 1em;
  width: 12em;
  margin: 100px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.terminal-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1.5em;
  background-color: #333;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 0.4em;
  box-sizing: border-box;
}

.terminal-controls {
  float: right;
}

.control {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  margin-left: 0.4em;
  border-radius: 50%;
  background-color: #777;
}

.control.close {
  background-color: #e33;
}

.control.minimize {
  background-color: #ee0;
}

.control.maximize {
  background-color: #0b0;
}

.terminal-title {
  float: left;
  line-height: 1.5em;
  color: #eee;
}

.text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2em solid green; /* Cursor */
  animation: typeAndDelete 4s steps(14) infinite,
    blinkCursor 0.5s step-end infinite alternate;
  margin-top: 1.5em;
}


/* main pageloader */

.maincard {
  /* color used to softly clip top and bottom of the .words container */
  /* --bg-color: #212121; */
  background-color: var(--bg-color);
  padding: 1rem 2rem;
  border-radius: 1.25rem;
}
.mainloader {
  color: rgb(124, 124, 124);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
  position: relative;
}
.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--bg-color) 10%,
    transparent 30%,
    transparent 70%,
    var(--bg-color) 90%
  );
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #956afa;
  animation: spin_4991 4s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}
